[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain about abstract stuff:
    class .*\bProtocol(?:\[.+\])?\):
    @(abc\.)?abstractmethod
    @(?:typing\.)?overload

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    assert_never

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:

ignore_errors = False
show_missing = true
skip_covered = true
skip_empty = true
precision = 2
