[tool.poetry]
name = "aioinject"
version = "0.4.0"
description = ""
authors = ["Doctor <thirvondukr@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
line-profiler = "^3.4.0"
anyio = "^3.5.0"
trio = "^0.20.0"
coverage = {extras = ["toml"], version = "^6.3"}
fastapi = {extras = ["all"], version = "^0.74.1"}
strawberry-graphql = "^0.98.2"
black = "^22.1.0"
isort = "^5.10.1"
mypy = "^0.931"
flake8 = "^4.0.1"

[tool.coverage.run]
source = ["aioinject"]
command_line = "-m pytest"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise NotImplementedError",
    "if TYPE_CHECKING:",
]
show_missing = true
skip_covered = true
skip_empty = true
precision = 2

[tool.black]
line_length = 79

[tool.isort]
profile = "black"
line_length = 79

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
